/venv
/build
*.npy
/lib/hmmmix/trellis/libtrellis.c
/lib/hmmmix/trellis/libtrellis.*.so
/lib/hmmmix/trellis/libtrellis.html
.~lock*
/.idea
__pycache__
/doc/out/*.log
/doc/out/*.aux
/doc/out/*.pdf
/doc/out/*.out
/doc/out/*.tdo
